* { margin: 0;
	padding: 0;
 }

main {
	height: calc(100vh - 120px)
}

 .header {
 	height: 60px;
 	background: #B52121;
 	color: #FFF;
 }

footer {
	display: flex;
	justify-content: center;
	background: #41AF32;
 	width: 100%;
}

 .footer {
 	height: 60px;
 	display: flex;
 	align-items: center;
 }